<td>
  <div class="u__width__100"><!--SPACER--></div>
  <div class="layout__box o__has-columns">
    {{#each player.teams as |team|}}
      <img class="pool-table-flag" src="/assets/images/flags/{{dasherize team}}.png"/>
    {{/each}}
  </div>
</td>
<td>
  <b>{{player.name}}</b>
</td>
<td>
  0
</td>
<td>
  0
</td>
<td>
  0
</td>
<td>
  0
</td>
<td>
  0
</td>
<td>
  0
</td>
<td>
  0
</td>
