<table class="pool-stage-table">
  <thead>
    <th>POOL TABLE</th>
    <th class="u__width__100">PLAYER</th>
    <th>PL</th>
    <th class="small-col">W</th>
    <th class="small-col">D</th>
    <th class="small-col">L</th>
    <th class="hide-small">GF</th>
    <th class="hide-small">GA</th>
    <th>GD</th>
    <th>PTS</th>
  </thead>
  <tbody>
    {{#each sortedPlayers as |player|}}
      {{pool-table-row
        player=player
        filterPlayer=filterPlayer
        toggleFilter=toggleFilter
      }}
    {{/each}}
  </tbody>
</table>

{{#if fetchPoolResults.isRunning}}
  <div class="layout__box o__flexes-to-1 o__centers-horizontally">
    <div class="t__centered">
      <div class="loader"></div>
      <div class="t__small-caps u__mt__10">Loading Results</div>
    </div>
  </div>
{{/if}}