<h3>POOL STAGE TABLE</h3>

<table class="pool-stage-table">
  <thead>
    <th></th>
    <th class="u__width__100">PLAYER</th>
    <th class="hide-small">PL</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th class="hide-small">GF</th>
    <th class="hide-small">GA</th>
    <th>PTS</th>
  </thead>
  <tbody>
    {{#each sortedPlayers as |player|}}
      {{pool-table-row player=player}}
    {{/each}}
  </tbody>
</table>

{{#if fetchPoolResults.isRunning}}
  <div class="layout__box o__flexes-to-1 o__centers-horizontally">
    <div class="t__centered">
      <img width="24" height="24" src="https://raw.githubusercontent.com/nolaneo/{{spinner}}.gif">
      <div class="t__small-caps u__mt__10">Loading Results</div>
    </div>
  </div>
{{/if}}