* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  width: 800px;
}

.t__centered {
  text-align: center;
}

h1 {
  font-family: 'Russo One';
  color: white;
  text-shadow: 0px 1px 5px black;
  font-size: 3em;
  background: repeating-linear-gradient(
    to bottom,
    #f5f5f5,
    #f5f5f5 33%,
    #41479b 33%,
    #41479b 66%,
    #ff4b55 66%,
    #ff4b55 100%
  );
}

h3 {
  font-weight: 200;
  color: grey;
}

h5 {
  color: lightgrey;
}

th {
  color: grey;
  padding: 5px 20px;
}

th:first-of-type {
  padding-left: 0;
  text-align: left;
}

th:last-of-type {
  padding-right: 0;
}

td {
  text-align: center;
  padding: 10px 20px;
}

td:last-of-type {
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.pool-table-flag {
  width: 40px;
  height: 40px;
  transform: rotate(-10deg);
  margin-left: -5px;
}

.pool-table-flag:nth-child(1) {
  z-index: 4;
  margin-left: 0;
}

.pool-table-flag:nth-child(2) {
  z-index: 3;
}

.pool-table-flag:nth-child(3) {
  z-index: 2;
}

.pool-table-flag:nth-child(4) {
  z-index: 1;
}

.u__width__100 {
  width: 100%;
}

.layout__box {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

.layout__box.o__has-columns {
  display: flex;
  flex-direction: row;
}

.layout__box.o__has-rows {
  display: flex;
  flex-direction: column;
}

.layout__box.o__scrolls {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.layout__box.o__flexes-to-1 {
  flex: 1 1 auto;
}

.layout__box.o__centers-horizontally {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.layout__box.o__centers-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout__box.o__centers-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fixture-team {
  min-width: 150px;
}

.fixture-flag {
  margin: 0 auto;
  width: 100px;
}

.subtext {
  color: gray;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  .pool-table-flag {
    height: 20px;
    width: 20px;
  }

  td {
    padding: 5px;
  }

  .hide-small {
    display: none;
  }

  .fixture-flag {
    width: 50px;
  }

  .fixture-team {
    min-width: 110px;
  }
}

.t__light {
  color: #ccc;
}

.t__small-caps {
  font-size: 12px;
  color: #ccc;
}

.u__mt__10 {
  margin-top: 13px;
}

.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring-container {
  position: relative;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #ff4b55;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #ff4b55;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}