* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #444;
}

body {
  background-color: #efefef;
  padding: 0;
  margin: 0;
}

header {
  background-color: white;
  background-image: url("https://raw.githubusercontent.com/nolaneo/wc2018/master/public/assets/images/header.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.u__pad__20 {
  padding: 20px
}

.u__pad__50 {
  padding: 50px
}

.card {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: white
}

td {
  margin: 0;
}

h3 {
  font-weight: 300;
  color: #aaa;
  font-size: 16px;
}

.card-header {
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.card-header.o__blue {
  background-color: #41479b;
}

.card-header.o__red {
  background-color: #ff4b55;
}

.card-header.o__white {
  background-color: #f5f5f5;
  color: #777;
}

.main-content {
  max-width: 800px;
}

.t__centered {
  text-align: center;
}

.stat-event {
  width: calc(50% - 20px);
}

.stat-time {
  width: 30px;
}

.stat-image {
  width: 20px;
  height: 20px;
}

.stat-row {
  padding: 5px;
  height: 50px;
  border-radius: 5px;
  overflow: hidden;
}


.stat-spacer {
  height: 7px;
  border-bottom: 1px solid #ddd;
}

.stat-table {
  padding: 10px 50px;
}

.past-match-toggle {
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 -10px 20px;
}

.past-match-toggle:hover {
  background: white;
}

.u__hidden {
  display: none !important;
}

table {
  border-collapse: collapse;
}

.pool-table th {
  height: 30px;
  background-color: #ff4b55;
  color: white;
  padding: 5px 20px;
  font-weight: 300;
}

td {
  text-align: center;
  padding: 10px 20px;
}

.pool-table td:last-of-type {
  font-weight: bold;
}

.pool-table tr:nth-child(even) {
  background-color: #f3f3f3;
}

.pool-table-flag {
  width: 40px;
  height: 40px;
  transform: rotate(-10deg);
  margin-left: -5px;
}

.pool-table-flag:nth-child(1) {
  z-index: 4;
  margin-left: 0;
}

.pool-table-flag:nth-child(2) {
  z-index: 3;
}

.pool-table-flag:nth-child(3) {
  z-index: 2;
}

.pool-table-flag:nth-child(4) {
  z-index: 1;
}

.live-team-name {
  font-weight: 300;
  min-width: 150px;
  font-size: 18px;
  color: #aaa;
}

.score {
  color: #333;
  font-size: 60px;
}

.score-divider {
  color: #ccc;
  font-weight: 100;
  font-size: 60px;
}

.u__width__100 {
  width: 100%;
}

.layout__box {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

.layout__box.o__has-columns {
  display: flex;
  flex-direction: row;
}

.layout__box.o__has-rows {
  display: flex;
  flex-direction: column;
}

.layout__box.o__scrolls {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.layout__box.o__flexes-to-1 {
  flex: 1 1 auto;
}

.layout__box.o__flexes-to-5 {
  flex: 5 1 auto;
}

.layout__box.o__centers-horizontally {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.layout__box.o__centers-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout__box.o__centers-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.past-score {
  font-size: 25px;
  font-weight: 500;
  margin: auto 0;
}

.past-score.o__right {
  margin-left: 15px;
  margin-right: 5px;
}

.past-score.o__left {
  margin-right: 15px;
  margin-left: 5px;
}

.fixture-team {
  min-width: 150px;
}

.fixture-flag {
  margin: -20px 0;
  width: 100px;
}

.upcoming-match-flag {
  width: 40px;
}

.upcoming-country-name {
  color: #777;
  font-weight: 300;
}

.upcoming-player-name {
  width: 60px;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
}

.datetime {
  background-color: #41479b;
  color: white;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  width: 60px;
  text-transform: capitalize;
}

.subtext {
  color: gray;
  font-size: 12px;
}

.clock-tick {
  float: right;
  color: white;
  opacity: 0.2;
  font-size: 10px;
  font-weight: 300;
  margin-right: 20px;
}

.t__light {
  color: #888;
  font-weight: 300;
}

.t__small-caps {
  font-size: 12px;
  color: #ccc;
}

.u__mt__10 {
  margin-top: 13px;
}

.u__mr__15 {
  margin-right: 15px;
}

.u__ml__15 {
  margin-left: 15px;
}

.u__mr__5 {
  margin-right: 5px;
}

.u__ml__5 {
  margin-left: 5px;
}

.lds-dual-ring {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-color: #ccc transparent #ccc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring-container {
  position: relative;
  top: -30px;
}

.u__mb__20 {
  margin-bottom: 20px;
}


.u__ml__20 {
  margin-left: 20px;
}

.u__ml__60 {
  margin-left: 60px;
}

.live-match-title {
  font-weight: 300;
  color: white;
}

.live-match-container {
  padding: 20px;
}

.live-match-title b {
  color: white;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #ff4b55;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid #ff4b55;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.live-col {
  transform: scale(0.5);
}

.live-col .ring-container {
  left: -30px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,78,32, 0.2);
  border-right: 1.1em solid rgba(255,78,32, 0.2);
  border-bottom: 1.1em solid rgba(255,78,32, 0.2);
  border-left: 1.1em solid #ff4e20;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pool-table-row {
  cursor: pointer;
}

.t__left {
  text-align: left;
}

.t__right {
  text-align: right;
}


.pool-table-row:hover {
  background: white;
  background-color: #ccc !important;
}

.pool-table-row.o__is-filtering {
  background: white;
  background-color: #41479b !important;
}

.pool-table-row.o__is-filtering td,
.pool-table-row.o__is-filtering td b {
  color: white !important;
}

.pool-table-row.o__is-filtering:hover {
  background-color: #41479bdd !important;
}



@media only screen and (max-width: 768px) {
  .small-stat-text * {
    font-size: 8px;
  }

  .stat-table {
    padding: 5px !important;
  }

  .stat-image {
    transform: scale(0.8);
  }

  .past-match .upcoming-match-flag {
    width: 20px;
  }

  .past-match .past-score {
    font-size: 15px;
  }

  .past-match .upcoming-country-name {
    font-size: 9px;
  }

  .past-score {
    margin: 5px !important;
  }

  .pool-table th {
    padding: 10px 10px;
  }

  .pool-table td {
    padding: 10px 10px;
  }

  .pool-table-flag {
    height: 20px;
    width: 20px;
  }

  .live-match-container {
    padding: 10px;
  }

  td {
    padding: 5px;
  }

  .hide-small {
    display: none;
  }

  .fixture-flag {
    width: 50px;
    margin: -10px 0;
  }

  .fixture-team {
    min-width: 110px;
  }

  .score {
    font-size: 25px;
  }

  .score-divider {
    font-size: 20px;
  }

  .live-match-container .live-team-name {
    max-width: 70px !important;
    min-width: 0;
    font-size: 11px;
  }

  /* .card {
    transform: scale(0.7);
    transform-origin: top;
    margin: 0 -80px;
  }

  .pool-table {
    margin-bottom: -70px;
  } */

  * {
    font-size: 10px;
  }
}

.u__hover {
  cursor: pointer;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
