<div class="layout__box o__flexes-to-1 o__has-rows o__scrolls">
  <header class="layout__box">
    {{!--blank--}}
  </header>
  <div class="layout__box o__flexes-to-1 o__has-rows o__centers-horizontally u__pad__20">
    {{outlet}}
  </div>
</div>