<div class="layout__box o__flexes-to-1 o__has-rows main-content">
  {{pool-table players=model filterPlayer=filterPlayer toggleFilter=(action 'toggleFilter')}}
  {{live-matches players=model}}
  {{past-matches players=model filterPlayer=filterPlayer}}
  {{match-list players=model filterPlayer=filterPlayer}}
</div>
